<p style="color: green"><%= notice %></p>

<h1 class="display-2">Flats</h1>

<div id="flats">
  <% @flats.each do |flat| %>
    <%= render "flat", flat: flat %>
  <% end %>
</div>

<%= link_to "New flat", new_flat_path %>
